<?xml version="1.0" encoding="UTF-8" ?>
    <!-- 2015-06-18 - ADDED xmlns:android so the Android properties can be extended -->
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:android   = "http://schemas.android.com/apk/res/android"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.bsdmasterindex.phonegap-webrtc"
        version     = "1.0"
        versionCode = "10" >
        <!-- versionCode is optional and Android only -->
        <preference name='phonegap-version' value='cli-5.1.1' />

        <name>Phonegap WebRTC</name>
        <description>Phonegap WebRTC</description>
        <author href="http://bsdmasterindex.com" email="jessemonroy650@yahoo.com">
        Jesse Monroy
        </author>

        <!-- Android SECTION -->
        <gap:platform name="android" />
        <gap:config-file platform="android" parent="/manifest" >
            <!-- Add Android extensions here. SEE: http://docs.build.phonegap.com/en_US/configuring_config_file_element.md.html#Config%20File%20Elements -->
            <uses-feature android:name="android.hardware.camera.front" />
            <uses-feature android:name="android.hardware.microphone"/>
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.RECORD_AUDIO" />
            <uses-permission android:name="android.permission.RECORD_VIDEO"/>
            <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.INTERNET" />
        </gap:config-file>

        <!-- iOS SECTION -->
        <gap:platform name="ios" />
        <gap:config-file target="*-Info.plist" parent="CFBundleURLTypes">
            <!-- Add iOS extensions here. SEE: http://docs.build.phonegap.com/en_US/configuring_config_file_element.md.html#Config%20File%20Elements -->
        </gap:config-file>

        <!-- App requested permission -->
        <preference name="permissions" value="none"/>

        <!-- PLUGINS PLUGINS -->
        <!-- device required so we can detect if we are using iOS -->
        <gap:plugin name="org.apache.cordova.device" />
        <!-- popular alternative to the google chrome webview -->
        <gap:plugin name='org.crosswalk.engine' version='1.3.0' source='pgb'  />
<!--
        <gap:plugin name="org.apache.cordova.camera" />
        <gap:plugin name="org.apache.cordova.media-capture" />
 -->
        <gap:plugin name="org.apache.cordova.inappbrowser" />
        <access origin="*" />
    </widget>
